{% extends "base.html" %} {% load i18n static %}

{% block title %}
{% endblock %}

{% block page_css %}
{% endblock %}

{% block content %}

    <div class="container-fluid position-fixed">
        <div class="row mx-4">
            <div class="col-12 text-end">
                <h1 class="main-text text-secondary">ABOUT</h1>
            </div>
        </div>
        <div class="row mx-4 mt-3">
            <div class="col-7 text-end text-secondary d-flex align-items-center">
                <p class="cool-text">{%  lorem  %}</p>
            </div>            
            <div class="col-5 d-flex justify-content-center">
                <img src="{% static "img/logo_colored.png" %}" alt="" width="250" class="img-fluid">
            </div>
        </div>
    </div>

{% endblock %}

{% block page_js %}
{% endblock %}
