{% extends "base.html" %} {% load i18n static %}

{% block title %}
{% endblock %}

{% block page_css %}
{% endblock %}

{% block content %}

    <div class="container-fluid h-100">
        <div class="row flex-row-reverse flex-md-row h-100 mx-4">
            <div class="col-12 col-md-6 h-100 d-flex flex-column justify-content-end mouseEvents">
                <form method="post" enctype="multipart/form-data" class="zindex-top mt-5 mouseEvents">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="cool-text text-secondary" for="id_email">Indirizzo email</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <label class="cool-text text-secondary" for="id_nome">Oggetto</label>
                        {{ form.oggetto }}
                    </div>
                    <div class="form-group">
                        <label class="cool-text text-secondary " for="id_testo">Il tuo messaggio</label>
                        {{ form.testo }}
                    </div>
 <div class="form-group">
                    <div class="form-check">
                        {{ form.accettazione }}
                        <label class="form-check-label cool-text text-secondary" for="id_accettazione">Accetto i
                            termini e le condizioni sul trattamento dei miei dati</label>
                    </div>
 </div>

                    <input class="btn btn-danger text-white px-5 py-1" value="INVIA" type="submit">
                </form>
            </div>
            <div class="col-12 col-md-6 text-end">
                <h1 class="main-text text-secondary ">CONTACTS</h1>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_js %}
{% endblock %}
