{% extends "base.html" %} {% load i18n static %}

{% block title %}
{% endblock %}

{% block page_css %}
{% endblock %}

{% block content %}

    <div class="container-fluid position-fixed">
        <div class="row mx-4">
            <div class="col-6 text-end">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                </form>
            </div>
            <div class="col-6 text-end">
                <h1 class="main-text text-secondary">CONTACTS</h1>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_js %}
{% endblock %}
