{% extends "base.html" %}
{% load i18n static %}

{% block title %}
{% endblock %}

{% block page_css %}
{% endblock %}

{% block content %}

    <div class="container-fluid position-fixed">
        <div class="fixed-center justify-content-lg-start justify-content-xl-center">
            <div class="d-flex flex-column justify-content-end justify-content-lg-center">
                <div><a class="btn btn-danger text-white text-big line-height-12 goforit mouseEvents" href="https://www.google.com">GO
                    FOR IT</a></div>
            </div>
        </div>

        <div class="row mx-4">
            <div class="col-12 text-center text-md-end"><h1 class="main-text text-secondary">DIAMO UN <br> TAGLIO <br>
                AI TUOI PROBLEMI</h1></div>
        </div>
    </div>

{% endblock %}

{% block page_js %}
{% endblock %}
