{% extends "base.html" %} {% load i18n static %}

{% block title %}
{% endblock %}

{% block page_css %}
{% endblock %}

{% block content %}

    <div class="container-fluid h-100">
        <div class="row  h-100 mx-4">
            <div class="col-6 h-100 d-flex flex-column justify-content-end">

            </div>
            <div class="col-6 text-end">
                <h1 class="main-text text-secondary ">Thank you!</h1>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_js %}
{% endblock %}
