/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 575.98px) {
    .text-big {
        font-size: 15vw;
    }

    .main-text {
        font-size: 5em !important;
        text-align: center;
        line-height: 1;
    }

    div.fixed-center {
        left: 0;
    }

    div.fixed-center > div {
        position: relative;
        top: 40px;
    }

    footer {
        height: 100px !important;
    }

    .footer-mail {
        width: 100%;
        box-sizing: border-box;
    }

    .footer-social {
        padding: 0;
        flex: auto;
    }

    .footer-social ul {
        padding: 0;
        margin: 0 auto;
        position: relative;
        top: -10px;
    }

    .cool-text {
        font-size: 1.45em;
    }

    .text-logo {
        font-size: 3.4em;

    }

    .text-sublogo {
        font-size: 2.7em;
    }

    #SBLogo {
        height: 85px !important;
    }

    .nav-link {
        font-size: 1.15em;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media only screen and (max-width: 767.98px) {
    .text-big {
        font-size: 20vw;
    }

    .main-text {
        font-size: 7em;
    }
}

/* Large devices (desktops, 992px and up)*/
@media only screen and (max-width: 991.98px) {
    :root {
        --content-height: calc(100vh - 65px - 180px);
    }

    .main-text {
        font-size: 8em;
    }

    #SBnavbar{
        background-color: #fff;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media only screen and (max-width: 1199.98px) {
    .main-text {
        font-size: 8em;
    }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media only screen and (max-width: 1399.98px) {
    .main-text {

    }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media only screen and (min-width: 1700px) {
    .main-text {
        font-size: 20em;
    }
}
