:root {
    --content-height: calc(100vh - 65px - 75px);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bison", "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}


p, span, address, blockquote, a, small, .text-sublogo {
    font-family: "Open Sans", "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: 300 !important;
}

footer {
    height: 60px !important;
}

.text-lightblue {
    color: #a8dadc !important;
    transition: all 0.2s;
}

a.text-lightblue:hover {
    color: var(--bs-light) !important;
}

.btn {
    font-family: "Bison", "Roboto", "Lucida Grande", Verdana, Arial, sans-serif !important;
}

a {
    text-decoration: none;
}

.content-wrapper {
    height: var(--content-height);
}

.font-weight-light {
    font-weight: 300;
}

.text-logo {
    font-size: 2.7em;
    padding: 0;
    margin: 0;
    line-height: 1;
}

.text-sublogo {
    font-size: 2.1em;
    padding: 0;
    margin: 0;
    line-height: 0.8;
}

.nav-link-bordered:hover {
    border-bottom: 2px solid white !important;
}

.nav-link-bordered {
    border-bottom: 2px solid rgba(255, 255, 255, 0) !important;
    line-height: 1;
}

.main-text {
    font-size: 17em;
    line-height: 0.87;
    z-index: -1 !important;

}

.text-big {
    font-size: 7.5em
}

.navbar-nav {
    padding-top: .5em;
}

.text-huge {
    font-size: 10em
}

.fixed-center {
    position: fixed;
    height: var(--content-height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.line-height-12 {
    line-height: 1.2 !important;
}

.page-title {
}

.zindex-top {
    z-index: calc(9999 * 9) !important;
}

.goforit {
    padding: 15px 50px !important;
    border-radius: 50px !important;
    position: relative;
    z-index: 11;
    transition: all .2s;

}

.goforit:hover {
    transform: scale(1.1);
    transition: transform .2s;
}

.particles-js-canvas-el {
    height: var(--content-height);
    z-index: -1;
}


.nav-link {
    font-size: 1.35em;
}