{% load i18n static %}
<footer class="bg-secondary text-center text-lg-start fixed-bottom zindex-top">
    <!-- Copyright -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-sm-12 footer-mail d-md-flex flex-md-column justify-content-md-center align-content-md-center">
                <small class="text-lightblue pt-2">Contact us:</small>
                <p class="text-lightblue">
                    <a class="text-lightblue" href="mailto:example@gmail.com">example@sharpbrackets.com</a>
                </p>
            </div>
            <div class="col-6 justify-content-end d-flex align-content-center footer-social">
                <ul class="navbar-nav d-flex flex-row-reverse align-content-center">
                    <li class="nav-item mx-3 d-flex flex-column justify-content-center">
                        <a class="nav-link text-white nav-link-bordered" href="#"> <i class="bi bi-facebook"></i></a>
                    </li>
                    <li class="nav-item mx-3 d-flex flex-column justify-content-center">
                        <a class="nav-link text-white nav-link-bordered" href="#"> <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-3 d-flex flex-column justify-content-center">
                        <a class="nav-link text-white nav-link-bordered" href="#"><i class="bi bi-github"></i></a>
                    </li>
                    <li class="nav-item mx-3 d-flex flex-column justify-content-center">
                        <a class="nav-link text-white nav-link-bordered" href="#"><i class="bi bi-reddit"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>